<h3>Welcome to Climb Base</h3>
<h6>Select a region in which you would like to view climbing routes.</h6>
<div class='row'>
    <div class='climbing-routes col s12 l8'>
        <label>Select State</label>
  <select class="browser-default" id='state-name'>
    <option value="" disabled selected>Select State</option>
    {{#each states as |state|}}
    <option value='{{state.id}}'>{{state.state}}</option>
    {{/each}}
  </select>
    <label>Select Location</label>
  <select class="browser-default" id='location-name'>
    <option value="" disabled selected>Select Location</option>
  </select>
    <label>Select Wall</label>
  <select class="browser-default" id='wall-name'>
    <option value="" disabled selected>Select Wall</option>
  </select>
    </div>
    <div class='photos col s12 l4'>
    </div>
</div>

<div id='route-names'>

</div>

<div>
  <h4>Top Ten Routes</h4>
{{#each topten as |topTenRoute|}}
<blockquote>{{@index}}: <a href='route/{{route.id}}'>{{route.name}}</a> -
   {{get_emoji rating}} </blockquote>
{{/each}}

</div>


<script src="/js/homePage.js"></script>