<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add a new route:</h3>

    <div class='climbing-routes col s12 l8'>
        <label>Select State</label>
  <select class="browser-default" id='state-name'>
    <option value="" disabled selected>Select State</option>
    {{#each states as |state|}}
    <option value='{{state.id}}'>{{state.state}}</option>
    {{/each}}
  </select>
    <label>Select Location</label>
  <select class="browser-default" id='location-name'>
    <option value="" disabled selected>Select Location</option>
  </select>



    <label>Select Wall</label>
  <select class="browser-default" id='wall-name'>
    <option value ="" disabled selected>Select Wall</option>
  </select>
    </div>


<div class="row">
    <form class="col s12" id='route-creation'>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Location Name" id="new-location" type="text" class="validate">
          <label for="new-location">Location Name</label>
        </div>
        <div class="input-field col s6">
          <input id="wall-name" type="text" class="validate">
          <label for="wall-name">Wall Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="route-name" type="text" class="validate">
          <label for="route-name">Route Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="difficulty" type="text" class="validate">
          <label for="difficulty">Difficulty</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="first-ascent" type="text" class="validate">
          <label for="first-ascent">First Ascent</label>
        </div>
      </div>
      <input type ="submit" class ="btn waves-effect waves-light" value = "Submit"/>
    </form>
  </div>
    

  {{#if rating.length}}
  <div class="col-md-6 project-list">
    <h3>My Reviews:</h3>

    {{#each ratings as |rating|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/rating/{{rating.id}}">{{rating.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}


  {{#if routes.length}}
  <div class="col-md-6 project-list">
    <h3>My Reviews:</h3>

    {{#each routes as |route|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/route/{{route.id}}">{{route.name}}</a></h4>
      </div>
      {{!-- <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{route.id}}">DELETE</button>
      </div> --}}
    </div>
    {{/each}}
  </div>
  {{/if}}


</div>

<script src="./js/profile.js"></script>